<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Brewer</title>
	<!-- Botão direito em cima do projeto > Properties > busca por Web Project Settings > altera o Context root -->
	<!-- deve-se usar th:href="@{/stylesheets/vendors.min.css}" ao invés de href="/stylesheets/vendors.min.css" -->
	<!-- para garantir que não haverá problemas ao mudar o Context Root da aplicação -->
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/application.css}"/>
</head>
<body>

<div class="aw-layout-page">
	<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
	<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>	
	<div th:replace="layout/fragments/Footer :: layout-footer"></div>
</div>

	<script th:src="@{/javascripts/vendors.min.js}"></script>
	<script th:src="@{/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/vendors/jquery/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/brewer.js}"></script>
</body>
</html>